/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #FFFFFF;
  font-family: Rubik , sans-serif;
}

.header {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mc-container{
  margin-top: 15px;
  margin-left: 15px;
  background-color: #52057B;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mc{
  height: 30px;
  width: 30px;
}

.index{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-index{
  all: unset;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-right: 40px;
  margin-left: 40px;
}

.btn-index_current{
  color: #52057B;
}

section{
  width: 100%;
  height: 100%;
}

.presentation-container{
  height: auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-container{
  margin: auto 0;
}

.tittle {
    font-weight: 400;
    font-size: 48px;
}

.web-dev{
  color: #52057B;
  font-family: Roboto Mono;
  font-weight: 900;
}

.description{
  font-family: Roboto Mono;
  font-size: 18px;
  font-weight: 300;
}

.cv a{
  background: none;
  border: #52057B 4px solid;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s linear;
  -webkit-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -ms-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
}

.cv a:hover{
  background-color: #52057B;
}

.download-btn{
  all: unset;
  cursor: pointer;
  font-size: 18px;
}

.aboutMe{
  margin-top: 150px;
}

.aboutMe-container{
  width: 70%;
  margin-left: 30px;
}

.section-number{
  color: #52057B;
  margin-right: 10px;
}

.aboutMe-container p{
  font-family: Roboto Mono;
  font-size: 18px;
  font-weight: 300;
}

.tech{
  list-style-type: none;
  font-family: Roboto Mono;
  font-size: 18px;
  font-weight: 300;
}