/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #FFFFFF;
  font-family: Rubik , sans-serif;
}

.header {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #000000;
}

.footer{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p{
  color: #ffffff7e;
  border-bottom: #52057b89 4px solid;
}

.mc-container{
  margin-top: 15px;
  margin-left: 15px;
  background-color: #52057B;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mc{
  height: 30px;
  width: 30px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-nav{
  all: unset;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-right: 40px;
  margin-left: 40px;
  border: #000000 1px solid;
  transition: border 0.4s linear;
  -webkit-transition: border 0.4s linear , letter-spacing 0.4s linear;
  -moz-transition: border 0.4s linear;
  -ms-transition: border 0.4s linear;
  -o-transition: border 0.4s linear;
}

.btn-nav:hover{
  border-bottom: #52057B 5px solid;
  letter-spacing: 3px;
  font-size: 18.5px;
}

.btn-nav a{
  all: unset;
}

section{
  width: 100%;
  height: 100%;
}

.presentation-container{
  height: auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 100px;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-container{
  margin: auto 0;
}

.tittle {
    font-weight: 400;
    font-size: 48px;
}

.web-dev{
  color: #52057B;
  font-family: Roboto Mono;
  font-weight: 900;
}

.description{
  font-family: Roboto Mono;
  font-size: 18px;
  font-weight: 300;
}

.cv a{
  background: none;
  border: #52057B 4px solid;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s linear;
  -webkit-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -ms-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
}

.cv a:hover{
  background-color: #52057B;
}

.download-btn{
  all: unset;
  cursor: pointer;
  font-size: 18px;
}

.aboutMe{
  margin-top: 150px;
}

.aboutMe-container{
  width: 70%;
  padding-left: 30px;
}

.section-number{
  color: #52057B;
  margin-right: 10px;
}

.aboutMe-container p{
  font-family: Roboto Mono;
  font-size: 18px;
  font-weight: 300;
}

.tech{
  list-style-type: none;
  font-family: Roboto Mono;
  font-size: 18px;
  font-weight: 300;
}

.projects{
  margin-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.projects-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project{
  height: 200px;
  width: 350px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Roboto Mono;
  font-size: 20px;
  transition: width 0.4s linear;
  -webkit-transition: width 0.4s linear;
  -moz-transition: width 0.4s linear;
  -ms-transition: width 0.4s linear;
  -o-transition: width 0.4s linear;
}

.project:hover{
  width: 370px;
}

.project p{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(82, 5, 123, 0.7);
  transition: background-color 0.4s linear , font-size 0.4s linear , letter-spacing 0.4s linear;
  -webkit-transition: background-color 0.4s linear , font-size 0.4s linear , letter-spacing 0.4s linear;
  -moz-transition: background-color 0.4s linear , font-size 0.4s linear , letter-spacing 0.4s linear;
  -ms-transition: background-color 0.4s linear , font-size 0.4s linear , letter-spacing 0.4s linear;
  -o-transition: background-color 0.4s linear , font-size 0.4s linear , letter-spacing 0.4s linear;
}

.project p:hover{
  background-color: rgba(82, 5, 123, 0.9);
  font-size: 25px;
  letter-spacing: 3px;
}

.gamefinder{
  background-image: url("../img/HomeBG4.jpg");
  background-size: cover;
}

.contactMe{
  margin-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.contactMe-container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.feedback-input{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #52057B;
  transition: all 0.4s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  outline: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.feedback-input:focus{
  border: 2px solid #892CDC;
}

textarea{
  height: 150px;
  resize:vertical;
}

[type="submit"]{
  width: 100%;
  background: #52057B;
  border-radius: 5px;
  border: 0;
  cursor:pointer;
  color: #FFFFFF;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.4s;
  margin-top: -4px;
  font-weight: 700;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
[type="submit"]:hover{
  background:#892CDC;
}